@import 'variables.css';
@import 'animation.css';
@import 'login.css';
@import 'home.css';

.d-none{
    display: none;
}

.border{
    border: 1px solid black;
}

.border-error{
    border: 2px solid var(--error-color) !important;
}

.disabled{
    background-color: gray;
}