.storage{
    --storage-dataform-text-input-bgcolor : #ECECEC;
    --storage-dataform-p-color: #9F9F9F;
    --storage-dataform-status-on-bgcolor: #E93429;
    --storage-dataform-status-off-bgcolor: #069550;
    --storage-dataform-btn-reset-bgcolor: #C4C4C4;
    --storage-dataform-btn-cancel-bgcolor: #E93429;
    --storage-dataform-btn-ok-bgcolor: #069550;
    --storage-none-bgcolor: rgb(199, 199, 199);
    
}
.client .main .table-side .table-box{
    height: 200px;
    margin-bottom: 20px;
}
.client .main .table-side .table-box .pagination{
    margin: 20px 0;
}

.storage.dataform .form-control{
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}
.storage.dataform .form-control label{
    width: 250px;
}
.storage.dataform .form-control label h3{
    max-width: 200px;
}
.storage.dataform .form-control input[type=text]{
    width: 750px;
    font-size: 16px;
    border: 0;
    outline: none;
    background-color: var(--storage-dataform-text-input-bgcolor);
    padding: 15px 0 15px 20px;
    border-radius: 5px;
}
.storage.dataform .form-control p{
    color: var(--storage-dataform-p-color);
    font-size: 18px;
}
.storage.dataform .form-control .status-box{
    
    width: fit-content;
    margin-right: 30px;
}

.storage.dataform .form-control .status-box .status{
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
    background: var(--storage-none-bgcolor);
    transition: .5s;
}
.storage.dataform .form-control .status-box.checked .status.on{
    background: var(--storage-dataform-status-off-bgcolor);
}
.storage.dataform .form-control .status-box.checked .status.off{
    background: var(--storage-dataform-status-on-bgcolor);
}
.storage.dataform .form-control .status-box input[type=radio]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.storage.dataform .form-btn-group{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;  
}
.storage.dataform .form-btn-group .btn{
    cursor: pointer;
    padding: 10px 25px;
    margin: 0 10px;
    transform: translateX(-25px);
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}
.storage.dataform .btn.reset{
    background-color: var(--storage-dataform-btn-reset-bgcolor);
}
.storage.dataform .btn.cancel{
    color: white;
    background-color: var(--storage-dataform-btn-cancel-bgcolor);
}
.storage.dataform .btn.ok{
    color: white;
    background-color: var(--storage-dataform-btn-ok-bgcolor);
}