{% extends 'template.html' %} {% block title %} {{ title or '' }} {% endblock %}
{% block body %}
<div class="container login">
  <div class="section" id="left">
    <div class="absolute branding animation popup">
      <img
        src="{{url_for('static',filename='img/dnschain-logo-last.png')}}"
        alt="Branding"
      />
      <span> <a href="/">DNSChain</a>  </span>
    </div>
    <div class="imgbox hero-imgbox animation slidetoRight">
      <img src="{{url_for('static',filename=hero_image)}}" alt="Hero" />
    </div>
  </div>
  <div class="section" id="right">
    <div class="panel content-right animation popup">
      <p>{{ panel_p_text or '' }}</p>
      <a href="{{ panel_a_link or ''}}" class="btn btn-link"
        >{{panel_a_text or ''}}</a
      >
    </div>
    <div class="form-container">
      <form class="form" method="POST">
        <div class="form-header animation popup">
          <div class="text-box">
            <h1>{{ form_header_title or '' }}</h1>
            <h4>{{ form_header_action or '' }}</h4>
          </div>
          {% if title == 'Sign Up' %}
          <div class="type-img-box animation popup">
            <label class="img-box checked" id="type-box-2">
              <input type="radio" name="type_cd" value="2" id="2" checked />
              <img
                src="{{url_for('static',filename='img/hoster-type.jpg')}}"
                alt="Hoster"
              />
              <p>Hoster</p>
            </label>
          </div>
          {% endif %}
        </div>
        {% if message %} {% if status == 200 %}
        <div class="form-alert success animation popup longest">
          {{ message }}
        </div>
        {% else %} {% if status != 200 %}
        <div class="form-alert error animation popup longest">
          {{ message or ''}}
        </div>
        {% endif %} {% endif %} {% endif %} {% if title == 'Sign In' %}
        <!-- Login Input -->
        <div class="form-section animation slidetoLeft">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="input-email"
            placeholder="daiphan@gmail.com"
            required
            value="{{ regis_email or '' }}"
          />
        </div>
        <div class="form-section animation slidetoLeft">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="input-password-login"
            placeholder="8+ characters, 1 lowercase, 1 uppercase and 1 special character"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&*?])[A-Za-z\d#$@!%&*?]{8,30}$"
            required
          />
        </div>
        <div class="form-section submit animation popup">
          <input type="submit" value="Sign in" />
        </div>
        {% else %}
        <!-- Register Input -->
        <div class="form-section animation slidetoLeft">
          <label for="name">Name</label>
          <input
            type="text"
            name="fullname"
            id="input-name"
            placeholder="At least 2 words seperate with space"
            pattern="^[a-zA-Z]+[ a-zA-Z]*$"
            required
            value="{{ fullname or ''}}"
          />
        </div>
        <div class="form-section animation slidetoLeft">
          <label for="email">Email</label>
          <input
            class="{% if status == 501 %} border-error {% endif %}"
            type="email"
            name="email"
            id="input-email"
            placeholder="daiphan308@gmail.com"
            required
            value="{{ email or '' }}"
          />
        </div>
        <div class="form-section animation slidetoLeft">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="input-password"
            placeholder="8+ characters, 1 lowercase, 1 uppercase and 1 special character"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&*?])[A-Za-z\d#$@!%&*?]{8,30}$"
            required
          />
        </div>
        <div class="form-section animation slidetoLeft">
          <label for="password">RePassword</label>
          <input
            type="password"
            name="repassword"
            id="input-repassword"
            placeholder="Must be same as password"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&*?])[A-Za-z\d#$@!%&*?]{8,30}$"
            required
          />
        </div>
        <div class="form-section submit animation popup longer">
          <input type="submit" value="Sign Up" />
        </div>
        {% endif %}
      </form>
    </div>
    <div class="panel content-left">
      <p class="createdby">
        This project is made by Phan Dai
        <svg
          width="27"
          height="24"
          viewBox="0 0 27 24"
          fill="none"
        >
          <rect
            x="0.604492"
            width="25.4788"
            height="24"
            rx="5"
            fill="#8165FF"
          />
          <path
            d="M7.2832 8.95898V18.0521C7.2832 18.5856 7.59499 19.0698 8.08063 19.2906C8.98144 19.7002 10.0042 19.0416 10.0042 18.0521V10.7622C10.0042 8.50801 11.8316 6.68063 14.0858 6.68063C15.6937 6.68063 17.0542 8.41259 17.0542 10.392C17.0542 11.1303 16.819 11.708 16.4577 12.1636C15.5928 13.2542 14.0858 12.1829 14.0858 10.791V10.2396C14.0858 9.73388 13.7779 9.27911 13.3084 9.09125C12.496 8.7662 11.6121 9.36453 11.6121 10.2396V13.2814C11.6121 15.1018 13.0878 16.5775 14.9082 16.5775H15.2954C15.5602 16.5775 15.826 16.5555 16.0755 16.4671C17.4628 15.9752 19.6516 14.2679 19.6516 10.392C19.6516 6.74893 17.718 4.9009 16.3337 4.21151C15.9239 4.00745 15.4616 3.95898 15.0038 3.95898H12.2832C9.52178 3.95898 7.2832 6.19756 7.2832 8.95898Z"
            stroke="white"
          />
        </svg>
      </p>
    </div>
  </div>
</div>
<script src="{{url_for('static',filename='js/register-helper.js')}}"></script>
{% endblock %}
