{% extends 'base.html' %} {% block title %} DNSChain homepage {% endblock %} {%
block body %}
<div class="client container">
  <div class="header">
    <div class="left">
      <div class="menu-btn">
        <button id="menu-toggler">
          <img src="{{url_for('static',filename='img/menu-icon.png')}}" alt="btn-menu-img" />
        </button>
      </div>
      <div class="logo">
        <a href="#">
          <div class="logo-link">
            <div class="img-box">
              <img
                src="{{url_for('static',filename='img/dnschain-logo-last.png')}}"
                alt="logo"
              />
            </div>
            <h1>dnschain</h1>
          </div>
        </a>
      </div>
      <div class="search">
        <img
          src="{{url_for('static',filename='img/search-icon.png')}}"
          alt="search-icon"
        />
        <input type="text" placeholder="Search infromation in profile" />
      </div>
    </div>
    <div class="right">
      <div class="user">
        <div class="hello">Hi <div class="name">Phan Dai</div><div class="type client">Client</div></div>
        <a href="/logout">
          <div class="img-box">
            Logout 
            <img src="{{url_for('static',filename='img/logout-icon.png')}}" alt="logout-icon">
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="aside animation">
    <div class="tab-title active">
      <h3>Table</h3>
    </div>
    <div class="tab-title">
      <h3>Connecting</h3>
    </div>
  </div>
  <div class="main">
    <table></table>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{{url_for('static',filename='js/client-helper.js')}}"></script>
{% endblock %} 
