{% extends 'template.html' %} {% block title %} {{ title or '' }} {% endblock %}
{% block body %}
<div class="dashboard container">
    {% block addtxbutton_modal %}
    {% if account_id and type != 3 %}
    <div class="add-tx-button-group modal">
        <a href="./operation">
        <div class="call-to-action">
            <div class="img-box">
            <img
                src="{{url_for('static',filename='img/add-icon.png')}}"
                alt="add-icon"
            />
            </div>
            <div class="text">Adding more Domain</div>
        </div>
        </a>
    </div>
    {% endif %}
    {% endblock %}

    {% block header %}
    <div class="header">
        <div class="left">
        <div class="menu-btn">
            <button id="menu-toggler">
            <img
                src="{{url_for('static',filename='img/menu-icon.png')}}"
                alt="btn-menu-img"
            />
            </button>
        </div>
        <div class="logo">
            <a href="#">
            <div class="logo-link">
                <div class="img-box">
                <img
                    src="{{url_for('static',filename='img/dnschain-logo-last.png')}}"
                    alt="logo"
                />
                </div>
                <h1>dnschain</h1>
            </div>
            </a>
        </div>
        <div class="search">
            <img
            src="{{url_for('static',filename='img/search-icon.png')}}"
            alt="search-icon"
            />
            <input type="text" placeholder="Search infromation in profile" />
        </div>
        </div>
        <div class="right">
        <div class="user">
            <div class="hello">
            Hi. 
            {% if account_id %}
                {% if type_cd == 2 %}
                <div class="name">{{ account_fullname or ''}}</div>
                <div class="type hoster">Hoster</div>
                {% else %}    
                <div class="name">{{ account_fullname or ''}}</div>
                <div class="type admin">Admin</div>
                {% endif %}    
            {% else %}
            <div class="name">Guest</div>
            <div class="type client">Client</div>
            {% endif %}
            </div>
            {% if account_id %}
            <a href="/logout">
            <div class="img-box">
                Logout
                <img
                src="{{url_for('static',filename='img/logout-icon.png')}}"
                alt="logout-icon"
                />
            </div>
            </a>
            {% else %}
            <a href="/login">
            <div class="img-box">
                Login
                <img
                src="{{url_for('static',filename='img/logout-icon.png')}}"
                alt="login-icon"
                />
            </div>
            </a>
            {% endif %}
        </div>
        </div>
    </div>
    {% endblock %}

    {% block main %} {% endblock %}

</div>
<script src="{{url_for('static',filename='js/dashboard-helper.js')}}"></script>
{% endblock %}