<form action="" method="POST">
  <h1>Form for A Record</h1>
  <div>
    <label for="domain"> Domain </label>
    <input type="text" name="domain" placeholder="Type your domain name here" required/>
  </div>
  <div>
    <label for="type"> Type </label>
    <input type="text" name="type" value="A" readonly/>
  </div>
  <div>
    <label for="ip"> IP </label>
    <input type="text" name="ip" placeholder="Type your domain's IP here" required/>
  </div>
  <div>
    <label for="ttl"> Time to live </label>
    <input type="number" name="ttl" value=14400 min=0 max=36000/>
  </div>
  <div>
      <button type="reset">Reset</button>
      <button type="submit">OK</button>
  </div>
</form>
