{% extends 'base.html' %} {% block title %} Sign in DNSChain {% endblock %} 
{% block body %}
<div class="container login">
  <div class="section" id="left">
    <div class="absolute branding animation popup">
      <img src="{{url_for('static',filename='img/dnschain-logo-last.png')}}" alt="Branding">
      <span>DNSChain</span>
    </div>
    <div class="imgbox hero-imgbox animation slidetoRight">
      <img
        src="{{url_for('static',filename='img/hero-image.png')}}"
        alt="Hero"
      />
    </div>
  </div>
  <div class="section" id="right">
    <div class="panel content-right animation popup">
      <p>Haven't had an account?</p>
      <a href="/register" class="btn btn-link" id="signup">Sign up</a>
    </div>
    <div class="form-container">
      <div class="form-header animation popup">
        <h1>Hello DNSChain user !</h1>
        <h4>Login your account</h4>
      </div>
      <!-- TODO : Loop FormItems here -->
      <form class="form" method="POST">
        <div class="form-section animation slidetoLeft">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="input-email"
            placeholder="daiphan@gmail.com"
            required
          />
        </div>
        <div class="form-section animation slidetoLeft">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="input-password"
            placeholder="8+ characters"
            pattern=".{8,}"
            required
          />
        </div>
        <div class="form-section submit animation popup">
          <input type="submit" value="Sign In" />
        </div>
      </form>
    </div>
    <div class="panel content-left">
      <p>This project is made by Phan Dai</p>
    </div>
  </div>
</div>
{% endblock %}
