<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/dai-brand-icon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/index.css">
  <title>DNSChain | Login</title>
</head>
<body>
  <div class="container login">
    <div class="section" id="left">
      <div class="absolute branding animation popup">
        <img src="img/dnschain-logo-last.png" alt="Branding">
        <span>DNSChain</span>
      </div>
      <div class="imgbox hero-imgbox animation slidetoRight">
        <img
          src="img/hero-image.png"
          alt="Hero"
        />
      </div>
    </div>
    <div class="section" id="right">
      <div class="panel content-right animation popup">
        <p>Haven't had an account?</p>
        <a href="/register" class="btn btn-link" id="signup">Sign up</a>
      </div>
      <!-- type = Register 
      <div class="panel content-right animation popup">
        <p>Already have an account? </p>
        <a href="/login" class="btn btn-link" id="signup">Sign in</a>
      </div>
      -->
      <div class="form-container">
        <div class="form-header animation popup">
          <div class="text-box">
            <h1>{{ Header title  }}</h1>
            <h4>{{ Header call to action}}</h4>
          </div>
          <!-- type = Register 
            <div class="type-img-box animation popup">
            <label class="img-box checked" id="type-box-2">
              <input type="radio" name="type_cd" value="3" id="3" checked>
              <img src="img/client-type.jpg" alt="Client"/>
              <p>Client</p>
            </label>
            <label class="img-box" id="type-box-3">
              <input type="radio" name="type_cd" value="2" id="2">
              <img src="img/hoster-type.jpg" alt="Hoster"/>
              <p>Hoster</p>
            </label>
          </div> -->
        </div>
        <form class="form" method="POST" action="/login"> 
          <!-- type = Register  => action="/register" -->
          <!-- {% if message %}
            {% if isSuccess == True %} -->
              <!-- <div class="form-alert success animation popup longest">
                {{ message }}
              </div> -->
            <!-- {% else %}
              {% if isSuccess == False %} -->
              <div class="form-alert error animation popup longest">
                {{ message }}
              </div>  
              <!-- {% endif %}
            {% endif %}
          {% endif %} -->
          <div class="form-section animation slidetoLeft">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="input-email"
              placeholder="daiphan@gmail.com"
              required
              value ="{{ email or '' }}"
            />
          </div>
          <div class="form-section animation slidetoLeft">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="input-password"
              placeholder="8+ characters, 1 lowercase, 1 uppercase and 1 special character"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&*?])[A-Za-z\d#$@!%&*?]{8,30}$"
              required
            />
          </div>
          <div class="form-section submit animation popup">
            <input type="submit" value="Sign In" />
          </div>
        </form>
      </div>
      <div class="panel content-left">
        <p class="createdby">
          This project is made by Phan Dai
          <img src="img/dai-brand-icon.png" alt="pd-icon">
        </p>
      </div>
    </div>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/register-helper.js"></script>
</body>
</html>
