{% extends 'base.html' %} {% block title %} Sign up your account with DNSChain
{% endblock %} {% block body %}
<div class="container login">
  <div class="section" id="left">
    <div class="absolute branding animation popup">
      <img
        src="{{url_for('static',filename='img/dnschain-logo-last.png')}}"
        alt="Branding"
      />
      <span>DNSChain</span>
    </div>
    <div class="imgbox hero-imgbox animation slidetoRight">
      <img
        src="{{url_for('static',filename='img/hero-image3.png')}}"
        alt="Hero"
      />
    </div>
  </div>
  <div class="section" id="right">
    <div class="panel content-right animation popup">
      <p>Already have an account? </p>
      <a href="/login" class="btn btn-link" id="signup">Sign in</a>
    </div>
    <div class="form-container">
      <form class="form" method="POST" action="/register">
        
        <div class="form-header animation popup">
          <div class="text-box">
            <h1>Welcome to DNSChain !</h1>
            <h4>Register your account</h4>
          </div>
          <div class="type-img-box animation popup">
            {% if not type_cd or type_cd == 3 %}
              <label class="img-box checked" id="type-box-2">
                <input type="radio" name="type_cd" value="3" id="3" checked>
                <img src="{{url_for('static',filename='img/client-type.jpg')}}" alt="Client"/>
                <p>Client</p>
              </label>
              <label class="img-box" id="type-box-3">
                <input type="radio" name="type_cd" value="2" id="2">
                <img src="{{url_for('static',filename='img/hoster-type.jpg')}}" alt="Hoster"/>
                <p>Hoster</p>
              </label>
            {% else %}
              {% if type_cd == 2 %}
              <label class="img-box " id="type-box-2">
                <input type="radio" name="type_cd" value="3" id="3" >
                <img src="{{url_for('static',filename='img/client-type.jpg')}}" alt="Client"/>
                <p>Client</p>
              </label>
              <label class="img-box checked" id="type-box-3">
                <input type="radio" name="type_cd" value="2" id="2" checked>
                <img src="{{url_for('static',filename='img/hoster-type.jpg')}}" alt="Hoster"/>
                <p>Hoster</p>
              </label>
              {% endif %}
            {% endif %}
          </div>
        </div>
        {% if message %}
          {% if isSuccess == True %}
            <div class="form-alert success animation popup longest">
              {{ message }}
            </div>
          {% else %}
            {% if isSuccess == False %}
            <div class="form-alert error animation popup longest">
              {{ message }}
            </div>  
            {% endif %}
          {% endif %}
        {% endif %}
        <div class="form-section animation slidetoLeft">
          <label for="name">Name</label>
          <input
            type="text"
            name="fullname"
            id="input-name"
            placeholder="At least 2 words seperate with space"
            pattern="^[a-zA-Z]+[ a-zA-Z]*$"
            required
            value = "{{ fullname or '' }}"
          />
        </div>
        <div class="form-section animation slidetoLeft">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="input-email"
            placeholder="daiphan308@gmail.com"
            required
            value = "{{ email or '' }}"
          />
        </div>
        <div class="form-section animation slidetoLeft">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="input-password"
            placeholder="8+ characters, 1 lowercase, 1 uppercase and 1 special character"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&*?])[A-Za-z\d#$@!%&*?]{8,30}$"
            required
          />
        </div>
        <div class="form-section animation slidetoLeft">
          <label for="password">RePassword</label>
          <input
            type="password"
            name="repassword"
            id="input-repassword"
            placeholder="Must be same as password"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$@!%&*?])[A-Za-z\d#$@!%&*?]{8,30}$"
            required
          />
        </div>
        <div class="form-section submit animation popup longer">
          <input type="submit" value="Sign Up" />
        </div>
      </form>
    </div>
    <div class="panel content-on-the-left">
      <p>This project is made by Phan Dai</p>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{{url_for('static',filename='js/register-helper.js')}}"></script>
{% endblock %} 