{% extends 'base.html' %} {% block title %} DNS Storage {% endblock %} {% block
head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/storage.css')}}"
/>
{% endblock %} {% block body %}
<div class="client container">
  <div class="header">
    <div class="left">
      <div class="menu-btn">
        <button id="menu-toggler">
          <img
            src="{{url_for('static',filename='img/menu-icon.png')}}"
            alt="btn-menu-img"
          />
        </button>
      </div>
      <div class="logo">
        <a href="#">
          <div class="logo-link">
            <div class="img-box">
              <img
                src="{{url_for('static',filename='img/dnschain-logo-last.png')}}"
                alt="logo"
              />
            </div>
            <h1>dnschain</h1>
          </div>
        </a>
      </div>
      <div class="search">
        <img
          src="{{url_for('static',filename='img/search-icon.png')}}"
          alt="search-icon"
        />
        <input type="text" placeholder="Search infromation in profile" />
      </div>
    </div>
    <div class="right">
      <div class="user">
        <div class="hello">
          Hi.
          <div class="name">{{ protectedAccount.fullname }}</div>
          {% if protectedAccount.type_cd and protectedAccount.type_cd == 3 %}
          <div class="type client">Client</div>
          {%else%}
          <div class="type hoster">Hoster</div>
          {%endif%}
        </div>
        <a href="/logout">
          <div class="img-box">
            Logout
            <img
              src="{{url_for('static',filename='img/logout-icon.png')}}"
              alt="logout-icon"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="aside animation">
      <div class="tab-title">
        <a href="/table"><h3>Table</h3></a>
      </div>
      <div class="tab-title active">
        <a href="#"><h3>Storage</h3></a>
      </div>
    </div>
    <div class="storage table-side">
      <div class="titles">
        <div class="title-left">
          <h1>Domain Names Table</h1>
          <h4>Total <span>104,587,952</span> dns</h4>
        </div>
        <div class="title-right">
          <div class="sort-btn-box">
            <button>
              <h3>Sort</h3>
              <img
                src="{{url_for('static',filename='img/sort-icon.png')}}"
                alt="sort-icon"
              />
            </button>
          </div>
        </div>
      </div>
      <div class="table-box">
        <table>
          <thead>
            <tr>
              <th class="index-field">No.</th>
              <th class="domain-name-field">Domain Name</th>
              <th class="ip-address-field">IP Address</th>
              <th class="hoster-field">Hoster</th>
              <th class="status-field">Status</th>
              <th class="created-date-field">Created Date</th>
              <th class="operations">Operations</th>
            </tr>
          </thead>
          <tbody>
            {% for i in range( paginationObj.from,paginationObj.to) %}
            <!-- #Once -->
            <tr>
              <td class="index-field">001</td>
              <td class="domain-name-field">domainname.com</td>
              <td class="ip-address-field">127.0.0.1</td>
              <td class="hoster-field">Dai Hoster</td>
              <td class="status-field">
                <div class="status on">On</div>
                <!-- <div class="status off">Off</div> -->
              </td>
              <td class="created-date-field">23-10-2021</td>
              <td class="operations">
                <a href="#" class="save-btn">Save</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <div class="btn-box">
          <div class="first-side">
            <span>
              <a href="/table">First</a>
            </span>
            <span>
              <a href="#" id="a-table-previous" class="nohref"
                ><img
                  src="{{url_for('static',filename='img/arrow-left-icon.png')}}"
                  alt="left-icon" /></a
            ></span>
          </div>
          <div class="index-side">
            <span id="span-table-index-page">{{paginationObj.page}}</span>
            <span>/</span>
            <span id="span-table-total-page"
              >{{paginationObj.totalPageNumber}}</span
            >
          </div>
          <div class="last-side">
            <span>
              <a href="#" id="a-table-next">
                <img
                  src="{{url_for('static',filename='img/arrow-right-icon.png')}}"
                  alt="right-icon"
              /></a>
            </span>
            <span>
              <a href="/table?page={{paginationObj.totalPageNumber}}">Last</a>
            </span>
          </div>
        </div>
      </div>
      <div class="storage dataform">
        <h1>Data Form</h1>
        <form action="">
          <div class="form-control">
            <label for="domain-name">
              <h3>Domain name</h3>
            </label>
            <input
              type="text"
              name="domain-name"
              placeholder="8+ characters for name, have 2+ characters for extension"
              pattern="(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\.)+[a-z0-9][a-z0-9-]{0,61}[a-z0-9]"
              required
            />
          </div>
          <div class="form-control">
            <label for="ip-address">
              <h3>IP address</h3>
            </label>
            <input
              type="text"
              name="ip-address"
              placeholder="IP private from 192.168.0.0 – 192.168.255.255"
              pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
              required
            />
          </div>
          <div class="form-control">
            <label for="status">
              <h3>Status</h3>
            </label>
            <label class="status-box on checked" id="type-box-2">
              <input type="radio" name="type_cd" value="1" id="1" checked />
              <div class="status on">On</div>
            </label>
            <label class="status-box off" id="type-box-2">
              <input type="radio" name="type_cd" value="0" id="0" />
              <div class="status off">Off</div>
            </label>
          </div>
          <div class="form-control">
            <label for="created-date">
              <h3>Created Date</h3>
            </label>
            <p>26/10/2021</p>
          </div>
          <div class="form-control">
            <label for="created-by">
              <h3>Created By</h3>
            </label>
            <p>Dai Hoster</p>
          </div>
          <div class="form-btn-group">
            <button type="reset" class="btn reset">Reset</button>
            <button type="button" class="btn cancel">Cancel</button>
            <button class="btn ok" type="submit">OK</button>
          </div>
        </form>
      </div>
      <p class="createdby">
        This project is made by Phan Dai
        <img
          src="{{url_for('static',filename='img/dai-brand-icon.png')}}"
          alt="pd-icon"
        />
      </p>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="{{url_for('static',filename='js/table-helper.js')}}"></script>
<script src="{{url_for('static',filename='js/storage-helper.js')}}"></script>
{% endblock %}
