{% extends 'base.html' %} {% block title %} DNSChain homepage {% endblock %} {%
block body %}
<div class="client container">
  <div class="header">
    <div class="left">
      <div class="menu-btn">
        <button id="menu-toggler">
          <img
            src="{{url_for('static',filename='img/menu-icon.png')}}"
            alt="btn-menu-img"
          />
        </button>
      </div>
      <div class="logo">
        <a href="#">
          <div class="logo-link">
            <div class="img-box">
              <img
                src="{{url_for('static',filename='img/dnschain-logo-last.png')}}"
                alt="logo"
              />
            </div>
            <h1>dnschain</h1>
          </div>
        </a>
      </div>
      <div class="search">
        <img
          src="{{url_for('static',filename='img/search-icon.png')}}"
          alt="search-icon"
        />
        <input type="text" placeholder="Search infromation in profile" />
      </div>
    </div>
    <div class="right">
      <div class="user">
        <div class="hello">
          Hi.
          <div class="name">{{ protectedAccount.fullname }}</div>
          {% if type_cd and type_cd == 3 %}
          <div class="type client">Client</div>
          {%else%}
          <div class="type hoster">Hoster</div>
          {%endif%}
        </div>
        <a href="/logout">
          <div class="img-box">
            Logout
            <img
              src="{{url_for('static',filename='img/logout-icon.png')}}"
              alt="logout-icon"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="aside animation">
      <div class="tab-title active">
        <h3>Table</h3>
      </div>
      <div class="tab-title">
        <h3>Connecting</h3>
      </div>
    </div>
    <div class="table-side">
      <div class="titles">
        <div class="title-left">
          <h1>Domain Names Table</h1>
          <h4>Total <span>104,587,952</span> dns</h4>
        </div>
        <div class="title-right">
          <div class="sort-btn-box">
            <button>
              <h3>Sort</h3>
              <img
                src="{{url_for('static',filename='img/sort-icon.png')}}"
                alt="sort-icon"
              />
            </button>
          </div>
        </div>
      </div>
      <div class="table-box">
        <table>
          <thead>
            <tr>
              <th class="index-field">No.</th>
              <th class="domain-name-field">Domain Name</th>
              <th class="ip-address-field">IP Address</th>
              <th class="hoster-field">Hoster</th>
              <th class="status-field">Status</th>
              <th class="created-date-field">Created Date</th>
              <th class="operations">Operations</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td class="index-field">001</td>
              <td class="domain-name-field">domainname.com</td>
              <td class="ip-address-field">127.0.0.1</td>
              <td class="hoster-field">Dai Hoster</td>
              <td class="status-field">
                <div class="status on">On</div>
              </td>
              <td class="created-date-field">
                23-10-2021
              </td>
              <td class="operations">
                <a href="#" class="save-btn">Save</a>
              </td>
            </tr>
            <tr>
              <td class="index-field">002</td>
              <td class="domain-name-field">namedomain.com</td>
              <td class="ip-address-field">127.0.0.2</td>
              <td class="hoster-field">Dai Hoster</td>
              <td class="status-field">
                <div class="status off">Off</div>
              </td>
              <td class="created-date-field">
                24-10-2021
              </td>
              <td class="operations">
                <a href="#" class="save-btn">Save</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <div class="btn-box">
          <div class="first-side">
            <span>
              <a href="#">First</a>
            </span>
            <span
              ><img
                src="{{url_for('static',filename='img/arrow-left-icon.png')}}"
                alt="left-icon"
            /></span>
          </div>
          <div class="index-side">
            <span>1</span>
            <span>/</span>
            <span>10</span>
          </div>
          <div class="last-side">
            <span
              ><img
                src="{{url_for('static',filename='img/arrow-right-icon.png')}}"
                alt="right-icon"
            /></span>
            <span>Last</span>
          </div>
        </div>
      </div>
      <p class="createdby">
        This project is made by Phan Dai
        <img
          src="{{url_for('static',filename='img/dai-brand-icon.png')}}"
          alt="pd-icon"
        />
      </p>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="{{url_for('static',filename='js/client-helper.js')}}"></script>
{% endblock %}
