@mixin operation-box {
  margin-top: 20px;
  height: 520px;
  overflow: hidden;
  display: flex;

  form {
    padding: 15px;
    width: 50%;

    h1 {
      font-size: 24px;
    }

    &.typing-form,
    &.files-form {
      .field {
        padding: 5px 0;

        h5 {
          font-size: 15px;
          padding-bottom: 10px;
        }
        &.soa-field,
        &.a-field,
        &.ns-field,
        &.domain-field {
          input {
            background-color: transparent;
          }
          h5 {
            color: rgb(7, 53, 202);
          }
        }
        &.submit-field {
          margin-top: 5px;
          display: flex;
          justify-content: flex-end;

          button {
            border: none;
            cursor: pointer;
            background-color: white;
            padding: 10px 25px;
            margin: 0 5px;

            &[type="reset"] {
              color: rgb(3, 97, 53);
              border: 1px solid rgb(3, 97, 53);
            }

            &[type="submit"] {
              color: white;
              background-color: rgb(3, 97, 53);
            }
          }
        }

        &.domain-field {
          input {
            width: 100%;
            font-size: 14px;
            padding: 7px 0 7px 10px;
            outline: none;
            border: none;
            border-bottom: 2px solid rgba(80, 80, 80, 0.541);

            &.error {
              border-bottom: 2px solid red;
            }

            &:hover {
              border-bottom: 2px solid rebeccapurple;
            }
          }
        }

        .form-oneline-group {
          .group {
            display: flex;
            padding: 2px 0;

            .label {
              font-size: 14px;
              width: 100px;
              text-align: center;
            }

            input {
              padding: 1px 0;
              padding-left: 10px;

              border: none;
              outline: none;
              border-bottom: 2px solid rgba(80, 80, 80, 0.541);

              &.error {
                border-bottom: 2px solid red;
              }

              &:hover {
                border-bottom: 2px solid rebeccapurple;
              }
            }
          }
        }

        &.files-field {
          height: 80%;
          width: 100%;
          margin: 10px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(235, 255, 254, 0.993);
          border-radius: 10px;

          .file-name {
            transition: .5s;
            background-color: white;
            height: 90%;
            padding: 20px 0;
            width: 160px;
            border-radius: 10px;
            max-height: 500px;
            overflow: auto;
            overflow-x: hidden;
            h5{
              padding: 0;
              margin: 0;
              text-align: center;
            }
            ul {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 10px;
              text-align: center;
              li {
                list-style: none;
                padding: 10px;
                width: 120px;
                margin-bottom: 10px;
                background-color: rgb(100, 144, 245);
                border-radius: 10px;
                color: white;
                background: linear-gradient(90deg, #4A8DF1 10.35%, rgba(63, 60, 210, 0.89) 76.65%);
              }
            }

          }

          #file-upload {
            display: none;
          }

          .custom-file-upload {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            transition: 0.5s;
            margin-right: 100px;

            img {
              width: 130px;
              height: 80px;
              margin-bottom: 20px;
            }
            h3 {
              border-radius: 10px;
              padding: 10px 30px;
              background-color: rgb(47, 87, 218);
              margin-bottom: 10px;
              color: white;
            }
            h5 {
              max-width: 200px;
              text-align: center;
              color: rgba(37, 37, 37, 0.541);
            }

            &:hover {
              transform: scale(1.1);
              h5 {
                color: rgb(7, 53, 202);
              }
            }
          }
        }
      }
    }
  }
}
