.operation.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .add-tx-button-group {
    @include dashb-add-tx-button-group;
  }

  .header {
    @include dashb-header;
  }

  .main {
    height: 100%;
    display: flex;

    .aside{
      @include dashb-aside;
    }

    .table-side {
      display: flex;
      flex-direction: column;
      padding: 20px 30px;
      width: 100%;

      .titles {
        @include dashb-table-side-titles;
      }

      .table-box {
        height: 20%;
        overflow: auto;
        overflow-x: hidden;

        table {
          @include dashb-table;
        }
      }

      .form-box {
        margin-top: 20px;
        height: 520px;
        overflow: hidden;
        display: flex;
        border: 2px solid rebeccapurple;

        form {
          padding: 15px;
          width: 50%;

          h1 {
            font-size: 24px;
          }

          &:first-child {
            border-right: 1px solid black;
          }

          &.typing-form,
          &.files-form {
            
            .field {
              padding: 5px 0;

              h5 {
                font-size: 15px;
                padding-bottom: 10px;
              }

              &.submit-field {
                margin-top: 5px;
                display: flex;
                justify-content: flex-end;

                button {
                  border: none;
                  cursor: pointer;
                  background-color: white;
                  padding: 10px 25px;
                  margin: 0 5px;

                  &[type="reset"] {
                    color: rgb(3, 97, 53);
                    border: 1px solid rgb(3, 97, 53);
                  }

                  &[type="submit"] {
                    color: white;
                    background-color: rgb(3, 97, 53);
                  }
                }
              }

              &.domain-field {
                input {
                  width: 100%;
                  font-size: 14px;
                  padding: 7px 0 7px 10px;
                  outline: none;
                  border: none;
                  border-bottom: 2px solid rgba(80, 80, 80, 0.541);

                  &.error {
                    border-bottom: 2px solid red;
                  }

                  &:hover {
                    border-bottom: 2px solid rebeccapurple;
                  }
                }
              }

              .form-oneline-group {
                .group {
                  display: flex;
                  padding: 2px 0;

                  .label {
                    font-size: 14px;
                    width: 100px;
                    text-align: center;
                  }

                  input {
                    padding: 1px 0;
                    padding-left: 10px;
                    
                    border: none;
                    outline: none;
                    border-bottom: 2px solid rgba(80, 80, 80, 0.541);

                    &.error {
                      border-bottom: 2px solid red;
                    }

                    &:hover {
                      border-bottom: 2px solid rebeccapurple;
                    }
                  }
                }
              }

              &.files-field {
                height: 75%;
                margin: 5px 0;
                background-color: #dddddda2;
              }
            }
          }
        }
      }

      .pagination {
        @include dashb-pagination;
      }

      .createdby {
        @include dashb-created-by;
      }
      
    }
  }
}