
// Login
    // applied for > '& .branding'
    $login-logo-size: 80px;
    $login-logo-text-size: 24px;
    $login-logo-text-color: rgba(103, 10, 165, 0.781);

    // applied for > '.section#right .panel'
    $login-panel-text-color: rgba(0, 0, 0, .5);
    $login-panel-a-border-color: #CECECE;

    // applied for > '.section#right .form-section .form input'
    $login-input-color: #BABABA;
    $login-input-hover-color: #8165FF;

    // applied for > '.section#right .form-alert '
    $login-success-color: rgb(44, 206, 84);
    $login-error-color: rgb(235, 56, 39);