// Login
// applied for > '& .branding'
$login-logo-size: 80px;
$login-logo-text-size: 24px;
$login-logo-text-color: rgba(103, 10, 165, 0.781);

// applied for > '.section#right .panel'
$login-panel-text-color: rgba(0, 0, 0, .5);
$login-panel-a-border-color: #CECECE;

// applied for > '.section#right .form-section .form input'
$login-input-color: #BABABA;
$login-input-hover-color: #8165FF;

// applied for > '.section#right .form-alert '
$login-success-color: rgb(44, 206, 84);
$login-error-color: rgb(235, 56, 39);

// Dashboard
$dashboard-search-input-bgcolor: #F6F6F6;
$dashboard-user-type-client-color: #069550;
$dashboard-user-type-hoster-color: #061495;
$dashboard-hovered-tab-title-bgcolor: #34424A;
$dashboard-hovered-tab-title-after-bgcolor: #1A89C9;
$dashboard-table-title-left-h4-color: #9F9F9F;
$dashboard-table-head-bgcolor: #f0e5fd;
$dashboard-table-head-color: #591590;
$dashboard-table-body-bgcolor: #EDEDED;
$dashboard-hovered-table-row-bgcolor: #D4D4D4;
$dashboard-table-status-success-bgcolor: #13aa61;
$dashboard-table-status-new-bgcolor: #f1b22a;
$dashboard-table-save-btn-bgcolor: #5890D2;
$dashboard-none-bgcolor: rgb(199, 199, 199);

// Admin
$admin-logo-text-color: #964B9C;
$admin-datetime-text-color: #707070;
$admin-navigator-text-color: black;
$admin-navigator-hovered-bg-color: #EEEAFF;
$admin-navigator-hovered-text-color: #8165FF;
$admin-right-sub-text-color: #999999;
$admin-right-unactivated-text-color: #9F9F9F;
$admin-right-activated-text-color: #147112;
$admin-right-genesis-h4-text-color: #9F38A7;
$admin-right-genesis-value-text-color: #8165FF;
$admin-right-genesis-sub-value-text-color: #AB98FF;
$admin-center-welcome-h3-text-color: rgba(154,80,160,.62);